<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edufi" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.edufi.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- A child of the main activity -->
        <activity
            android:name="com.edufi.LoginActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:label="@string/setup"
            android:parentActivityName="com.edufi.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edufi.MainActivity" />
        </activity>
        <!-- A child of the main activity -->
        <activity
            android:name="com.edufi.SetupActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:label="@string/setup"
            android:parentActivityName="com.edufi.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edufi.MainActivity" />
        </activity>
        <!-- A child of the main activity -->
        <activity
            android:name="com.edufi.SetupTutorActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:label="@string/setup"
            android:parentActivityName="com.edufi.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edufi.MainActivity" />
        </activity>
        <!-- A child of the main activity -->
        <activity
            android:name="com.edufi.SetupStudentActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:label="@string/setup"
            android:parentActivityName="com.edufi.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edufi.MainActivity" />
        </activity>
    </application>


</manifest>
